.client-header {
    width: 100%;
    height: 56px;
}

.client-main {
    width: calc(100vw - 128px);
    max-height: calc(100vh - 184px);
    padding: 16px;
    margin-top: 32px;
    margin-left: 96px;
    overflow: auto;
    box-sizing: border-box;
}

.client-action {
    float: left;
    height: 100%;
    margin-left: 32px;
    color: #424242;
    line-height: 56px;
    font-size: 28px;
    text-align: center;
}

.client-row {
    width: 100%;
    height: 48px;
    box-sizing: border-box;
}

.client-name {
    cursor: pointer;
    position: relative;
    display: inline-block;
    float: left;
    width: calc(70% - 6px);
    height: 100%;
    margin: 1px;
    padding-left: 16px;
    line-height: 48px;
    box-sizing: border-box;
    background-color: #eceff1;
    transition: 100ms;
}

.client-name:hover {
    z-index: 2;
    font-size: 20px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
}

.client-code {
    cursor: pointer;
    position: relative;
    display: inline-block;
    float: left;
    width: 20%;
    height: 100%;
    margin: 1px;
    text-align: center;
    line-height: 48px;
    box-sizing: border-box;
    background-color: #eceff1;
    transition: 100ms;
}

.client-code:hover {
    z-index: 2;
    font-size: 20px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
}

.client-edit {
    cursor: pointer;
    position: relative;
    display: inline-block;
    float: left;
    width: 10%;
    height: 100%;
    margin: 1px;
    text-align: center;
    line-height: 48px;
    box-sizing: border-box;
    background-color: #eceff1;
    transition: 100ms;
}

.client-edit:hover {
    z-index: 2;
    font-size: 20px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
}

.client-button {
    cursor: pointer;
    float: right;
    width: 128px;
    height: 40px;
    margin-top: 8px;
    margin-right: 32px;
    text-align: center;
    line-height: 40px;
    box-sizing: border-box;
    background-color: #eceff1;
    transition: 100ms;
}

.client-button:hover {
    font-size: 20px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
}