<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'friday/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'friday/css/font-awesome.css' %}">
    <script src="{% static 'friday/js/main.js' %}"></script>
</head>
<body>
<header>
    <div class="logo-wrapper">
        <img src="" class="logo">
    </div>
    <div class="notification-button notification-button-border"><i class="fa fa-bell-o" aria-hidden="true"></i></div>
    <div class="member-list-button"><i class="fa fa-users" aria-hidden="true"></i></div>
    <div class="search-box">
        <input type="text" placeholder="Search Everything ..." id="search" oninput="typing()" onclick="showClose()">
        <div class="close-button" onclick="closeSearch()"><i class="fa fa-times" aria-hidden="true"></i></div>
    </div>
    <div class="profile-wrapper">
        <div class="profile-pic">
            <div class="profile-background">
                <span class="user-initial">W</span>
            </div>
        </div>
    </div>
</header>
<div class="sidebar">
    <div class="sidebar-inbox">
        <span class="sidebar-inbox-text">Inbox</span>
    </div>
    <div class="sidebar-boards">
        <span class="sidebar-boards-text"><i class="fa fa-bars" aria-hidden="true"></i> Boards</span>
    </div>
    {% for case in cases %}
        <div class="sidebar-board" onclick="getMain('{{ case.name }}')">
            <span class="sidebar-board-text">{{ case.name }}</span>
        </div>
    {% endfor %}
</div>
<main>
    <div class="case-header">
        <div class="case-header-top">
            <div class="hide-menu" onmouseover="hideMenuOver()" onmouseout="hideMenuOut()"><i class="fa fa-bars" aria-hidden="true"></i></div>
            <span class="case-header-top-text">This board is public, visible to all team members.</span>
        </div>
        <div class="case-header-main">
            <div class="case-header-info">
                <span class="case-name">Weekly Tasks</span>
                <div class="case-menu"><i class="fa fa-bars" aria-hidden="true"></i></div>
                <div class="case-log"><i class="fa fa-anchor" aria-hidden="true"></i></div>
                <div class="case-people"><i class="fa fa-user-plus" aria-hidden="true"></i></div>
                <button class="case-subscribe">Unsubscribe</button>
            </div>
            <span class="case-description">Add board description</span>
        </div>
        <div class="case-header-footer">
            <div class="collapse-button"><i class="fa fa-minus-circle" aria-hidden="true"></i></div>
            <div class="case-search-wrapper">
                <div class="case-search-left"><i class="fa fa-search" aria-hidden="true"></i></div>
                <input type="text" class="case-search-input" placeholder="Search / Filter" onfocus="caseInputFocus()" onblur="caseInputBlur()" oninput="caseInputTyping();searchCase(this.value)"/>
                <div class="case-search-close" onclick="caseInputClose()"><i class="fa fa-times" aria-hidden="true"></i></div>
                <div class="case-search-right"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
            </div>
            <div class="case-people-filter"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
        </div>
    </div>
    <div class="case-body"></div>
</main>
</body>
</html>