<div class="main-header box-shadow">
    <div class="main-bar">
        <i class="fas fa-bars"></i>
    </div>
    <span class="main-name">{{ main }}</span>
    <div class="main-button">
        <i class="fas fa-sign-out-alt"></i>
    </div>
    <div class="main-button">
        <i class="fas fa-cog"></i>
    </div>
    <div class="main-button">
        <i class="far fa-comment"></i>
    </div>
    <div class="main-separator"></div>
    <div class="main-user-wrapper">
        <img class="main-user-image">
        <span class="main-user-name"></span>
        <div class="main-user-button">
            <i class="fas fa-angle-down"></i>
        </div>
    </div>
    <div class="main-search-wrapper">
        <input type="text" placeholder="Search" class="main-search-input"/>
        <div class="main-search-button">
            <i class="fas fa-search"></i>
        </div>
    </div>
</div>